<div class="current-main-container">
  <div class="current-main-temp">
    {{temp}}
  </div>
  <div class="current-main-flex-box">
    <div class="current-main-location">
      {{weather.city.name}}
    </div>
  </div>
  <div class="current-main-flex-box description-control">
    <div class="current-main-description">
      conditions: {{weather.list[0].weather[0].description}}
    </div>
    <div class="current-main-description">
      {{speed}}
    </div>
  </div>
  <div class="current-main-flex-box">
    <div class="current-main-icon">
      <img ng-src="{{icon}}" class="weather-icon">
    </div>
  </div>
</div>

<div class="current-main-container2">
  <form ng-submit="getWeather(city)" class="current-data-form">
    <input ng-model="city" class="weather-search" placeholder="Search a city to see the weather there...">
  </form>
</div>
