<!-- <form ng-submit="getWeather(city)">
  <input ng-model="city" class="weather-search">
</form> -->

<div class="current-main-container">
  <div class="current-main-temp">
    {{temp}}
  </div>
  <div class="current-main-location">
    {{weather.name}}
  </div>
  <hr>
</div>

<div class="current-main-container">
  <div class="current-main-icon">
    <img ng-src="{{icon}}" class="weather-icon">
  </div>
  <div class="current-main-description">
    {{weather.weather[0].description}}
    {{speed}}
  </div>
</div>

<div class="current-main-container">
  <form ng-submit="getWeather(city)" class="current-data-form">
    <input ng-model="city" class="weather-search" placeholder="Search a city to see the weather there...">
  </form>
</div>
