// @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis');

$bodyBackground: #e3eae8;
$displayFont: 'Open Sans', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$textColor: #FFF;

body {
  background: $bodyBackground;
  font-family: $bodyFont; fill: currentColor;

  background: #141E30;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: $textColor;

}

h1, h2, h3, h4, h5, h6 { font-family: $displayFont; font-weight: 300; }

h1 { font-size: 2.5em; }

.header {
  width: 100%;
  border-bottom: 1px #FFF solid;
  background: #34344E;
}

.header-inner {
  max-width: 1200px;
  height: 100px;
  padding-top: 30px;
  margin: 0 auto;
  background: url('../img/logo.svg') no-repeat center right;
  background-size: 50px;
  color: $textColor;
}

.current-main-container {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.current-main-flex-box {
  display: flex;
  flex-direction: column;
}

.current-main-container2 {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.current-main-container-form {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.current-data-form {
  padding: 20px 0;

  input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
  }
}

.current-main-temp {
  font-size: 10em;
  font-weight: 300;

}

.current-main-location {
  font-size: 4em;
  font-weight: 300;
  margin-bottom: 10px;
  padding: 20px 10px 30px 10px;

  border: 1px black solid;
}

.current-main-description {
  font-size: 2em;
  margin: 5px 0;
}

.current-main-icon {
  width: 85px;
  height: 19vh;
  padding: 10px;

  border: 1px orange solid;

}
.weather-icon {
  width: 60px;
  height: auto;
  fill: currentColor;
}

.footer {
  width: 100%;
  border-top: 1px #ACACAC solid;
  height: 100px;
  //background: #34344E;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-inner {
  max-width: 1200px;
  height: 100px;
  padding-top: 40px;
  margin: 0 auto;
  color: $textColor;
}

/* === Break point: max-width : 1200px ======================================= */
@media only screen and (max-width : 1200px) {

  body { background: #CBDAD5; color: #34344E; }

}
/* === End Break point: max-width : 1200px =================================== */
/* === Break point: max-width : 979px ======================================== */
@media only screen and (max-width : 979px) {

  body { background: #89A7B1;

    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

}
/* === End: Break point: max-width : 979px =================================== */
/* === Break point: max-width : 767px ======================================== */
@media only screen and (max-width : 767px) {

  body { background: #566981; }

}
/* === End: Break point: max-width : 767px =================================== */
/* === Break point: max-width : 480px ======================================== */
@media only screen and (max-width : 480px) {

  body { background: #3A415A;

    background: #4b6cb7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

   }

   .footer { position: relative;}

}
/* === End: Break point: max-width : 480px =================================== */
/* === Break point: max-width : 320px ======================================== */
@media only screen and (max-width : 320px) {

  body { background: #34344E; }

}
/* === End: Break point: max-width : 320px =================================== */
