// @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis');

$bodyBackground: #e3eae8;
$displayFont: 'Baloo Chettan', cursive;
$bodyFont: 'Dosis', sans-serif;

body { background: $bodyBackground; font-family: $bodyFont }

h1, h2, h3, h4, h5, h6 { font-family: $displayFont }

h1 { font-size: 3vw; }

.header {
  width: 100%;
  border-bottom: 1px #FFF solid;
  background: #34344E;
}

.header-inner,
.footer-inner {
  max-width: 1200px;
  height: 100px;
  padding-top: 30px;
  margin: 0 auto;
  background: url('../img/logo.svg') no-repeat center right;
  background-size: 50px;
  color: #FFF;
}

.current-main-container {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  // justify-content: space-around;
}

.current-main-container-form {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.current-data-form {
  padding: 20px 0;

  input {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    font-size: 16px;
  }
}

.current-main-temp {
  font-size: 10em;
  font-weight: 300;
  // justify-content: space-around;
}

.current-main-location {
  font-size: 4em;
  font-weight: 300;
  // justify-content: space-around;
}

.current-main-description {
  font-size: 2em;
  margin: 5px 0;
  // justify-content: space-around;
}

.current-data-icon {
  height: 1vh;

}
.weather-icon {
  width: 100px;
  height: auto;
}

.footer {
  width: 100%;
  border-top: 2px #FFF solid;
  height: 100px;
  background: #34344E;

}


/* === Break point: max-width : 1200px ======================================= */
@media only screen and (max-width : 1200px) {

  body { background: #CBDAD5; color: #34344E; }

}
/* === End Break point: max-width : 1200px =================================== */
/* === Break point: max-width : 979px ======================================== */
@media only screen and (max-width : 979px) {

  body { background: #89A7B1; }

}
/* === End: Break point: max-width : 979px =================================== */
/* === Break point: max-width : 767px ======================================== */
@media only screen and (max-width : 767px) {

  body { background: #566981; }

}
/* === End: Break point: max-width : 767px =================================== */
/* === Break point: max-width : 480px ======================================== */
@media only screen and (max-width : 480px) {

  body { background: #3A415A; }

}
/* === End: Break point: max-width : 480px =================================== */
/* === Break point: max-width : 320px ======================================== */
@media only screen and (max-width : 320px) {

  body { background: #34344E; }

}
/* === End: Break point: max-width : 320px =================================== */
