// @import url('https://fonts.googleapis.com/css?family=Baloo+Chettan|Dosis');

$bodyBackground: #141E30;
$displayFont: 'Open Sans', sans-serif;
$bodyFont: 'Open Sans', sans-serif;
$textColor: #FFF;

body {
  background: $bodyBackground;
  font-family: $bodyFont; fill: currentColor;

  background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: $textColor;
}

h1, h2, h3, h4, h5, h6 { font-family: $displayFont; font-weight: 300; }

h1 { font-size: 2em; }

.header {
  width: 100%;
  border-bottom: 1px #FFF solid;
  background: url('../img/weather-hero.jpg')no-repeat center center;
  object-fit: fill;
}

.header-inner {
  height: 100px;
  padding-top: 30px;
  margin: 0 auto;
  color: $textColor;
}

.logo-type {
  position: absolute;
  top: 33px;
  left: 10%;
}

.logo {
  width: 50px;
  position: absolute;
  top: 25px;
  right: 10%;
}

.current-main-container {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.current-main-flex-box {
  display: flex;
  flex-direction: column;
}

// Containers for each day of five
.five-day-flex {
  width: 221px;
  padding: 20px;
  border: 1px solid #FFF;
  border-radius: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

  &:nth-child(5) {
    margin-right: 0;
  }
}

.current-main-container2 {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.current-main-container-form {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.current-data-form {
  padding: 20px 0;

  input {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    font-size: 1.5vw;
  }
}

.current-main-temp {
  font-size: 10em;
  font-weight: 300;
}

.current-main-location {
  font-size: 5em;
  font-weight: 300;
  padding: 73px 10px 0px 10px;
}

.current-main-description {
  font-size: 2em;
  font-weight: 300;
}

.description-control {
  padding: 84px 0 0 10px;
}

.current-main-icon {
  padding: 25px 0 30px 20px;
}

.weather-icon {
  width: 100px;
  height: auto;
}

.footer {
  width: 100%;
  border-top: 1px #ACACAC solid;
  height: 100px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer-inner {
  height: 100px;
  padding-top: 40px;
  margin: 0 auto;
  color: $textColor;
}

.footer-text {
  position: absolute;
  left: 10%;
}

/* === Break point: max-width : 1200px ======================================= */
@media only screen and (max-width : 1236px) {

  .description-control { padding: 5px 10px; }

  .current-main-icon { padding: 10px 10px; }

  .five-day-flex { width: 299px; }

}
/* === End Break point: max-width : 1200px =================================== */
/* === Break point: max-width : 767px ======================================== */
@media only screen and (max-width : 761px) {

  .current-main-location {  padding: 0 10px 0 0; }

  .five-day-flex { width: 610px; }

  .footer { position: relative;}

  .five-day-flex { margin-right: 0;}

}
/* === End: Break point: max-width : 767px =================================== */
/* === Break point: max-width : 480px ======================================== */
@media only screen and (max-width : 480px) {

   .logo-type { left: 7%; }

   .logo { right: 7%; }

   .current-main-temp { font-size: 8.5em; }

   .current-main-location { font-size: 4em; }

   .current-main-description { font-size: 1.3em; }

   .weather-icon { width: 90px; }

}
/* === End: Break point: max-width : 480px =================================== */
